<div style = "background-color:#9d9d9d; color:#fff; width: 60%; margin: 0 20%">
<h1 style = "text-align:center">New Concert</h1>
</div>


<div style = "box-shadow: 10px 10px 5px #888888; float:center; width: 60%; margin: 0 20%">

<div style = "margin: 0 30%">
<%= form_for @concert do |f| %>
	<p>
		<%= f.label :band_name %><br>
		<%= f.text_field :band_name %>
	</p>
	<p>
		<%= f.label :venue %><br>
		<%= f.text_field :venue %>
	</p>
	<p>
		<%= f.label :city %><br>
		<%= f.text_field :city %>
	</p>
	<p>
		<%= f.label :date %><br>
		<%= f.date_select :date %>
	</p>
	<p>
		<%= f.label :price %><br>
		<%= f.text_field :price %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.submit %>
	</p>
	<br>
<% end %>
</div>

</div>
<br>

<div style = "margin: 0 20%">
	<%= link_to "Concerts page", concerts_path %>
</div>