




<div style = "background-color:#9d9d9d; width: 60%; margin: 0 20%; box-shadow: 10px 10px 5px #888888" >


<h1 style = "color: #fff; text-align: center">
<%= @concert.band_name %>
</h1>

<div style = "background-color: #d1d1d1">
<p>Venue: <b><%= @concert.venue %></b> | City: <b><%= @concert.city %></b> |
	Date: <b> <%= @concert.date %></b> | <%= @concert.price %> euros</p>

</div>



<div style = "background-color: #fff">
<p>
<%= @concert.description %>
</p>

</div>

<div style = "margin: 1em">
<%= link_to "Edit concert", edit_concert_path(@concert) %>
<%= link_to "Concerts page", concerts_path %>
<input type='button' id='like-button' value='Like'></input>

</div>

</div>
